

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}
img.imagem-principal {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 8px;
  margin-top: 10px;
}

header {
  background-color: #004080;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #0066cc;
  border-radius: 4px;
}

main {
  padding: 1rem;
}

.caixa {
  border: 2px solid #004080;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
}

input, textarea, button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #004080;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="reset"] {
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  background-color: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #e0e0e0;
}

footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
footer a {
  color: #82e3f9;   /* cor do link no rodapé */
}

